<table mat-table [dataSource]="helperService.dataSource" class="mat-elevation-z8">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

    <!-- Position Column -->
    <ng-container matColumnDef="title">
        <th mat-header-cell *matHeaderCellDef> Title </th>
        <td mat-cell *matCellDef="let element"> {{element.title}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="content">
        <th mat-header-cell *matHeaderCellDef> Content </th>
        <td mat-cell *matCellDef="let element"> {{element.content}} </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="lat">
        <th mat-header-cell *matHeaderCellDef> Lat </th>
        <td mat-cell *matCellDef="let element"> {{element.lat}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="long">
        <th mat-header-cell *matHeaderCellDef> Long </th>
        <td mat-cell *matCellDef="let element"> {{element.long}} </td>
    </ng-container>

    <ng-container matColumnDef="Action">
        <th mat-header-cell *matHeaderCellDef> Action </th>
        <td mat-cell *matCellDef="let element"> 
            <i class="far fa-image" (click)="showInfoDialog(element)"></i>
            <i class="fas fa-pen" style="margin-left: 5px;" (click)="openUpdateDialog(element)"></i>  
            <i class="fas fa-trash" style="margin-left: 5px;" (click)="deleteData(element)"></i></td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row (click)="helperService.tableOnClick(row)" *matRowDef="let row; columns: displayedColumns;"></tr>
</table>