.top-side{
    width: 100vw;
    height: 45vh;
    flex-direction: row;
}

.bottom-side{
    display: flex;
    justify-content: center;
    align-items: center;
}

mat-card{
    height: 43vh;
    background-color: rgb(227 236 190 / 50%);
    overflow: auto;
}